.topservice .study_sub_box_img {
    height: 215px;
    overflow: hidden;
}
.topservice .study_sub_box_title {
    padding: 15px 30px;
    background-color: #f8fbff;
}
.topservice h5{
    font-size: 17px;
}